*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

body {
    margin: 0;
}

/**************************************
/* NAVIGATION BAR
**************************************/
.nav-bar {
    background-color: #1a3365;
}

.nav-content {
    display: flex;
    
    max-width: 1060px;
    margin: 0 auto;
}

.nav-link {
    flex: 1;
    flex-direction: column;
    display: flex;

    padding: 12px 14px;
    color: #bfbfbf;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

.icon {
    margin: 0 auto;
}

.nav-link:hover {
    color: #fff;
    background-color: #152951;
} 

@media screen and (max-width: 900px) {
    .nav-content {
        flex-wrap: wrap;
    }

    .nav-link {
        flex: 1 1 33.33%;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 500px) {
    .nav-content {
        flex-wrap: wrap;
    }

    .nav-link {
        flex-basis: 100%;
    }
}

/* .nav-bar {
    background-color: #1a3365;

}

.nav-all {
    max-width: 1024px;
    margin: 0 auto;
}

.nav-content {
    display: flex;
    text-align: center;
    height: 80px;
}

.nav-item, .nav-search {    
    text-transform: uppercase;
    color: #bfbfbf;
    flex: 1;
    font-size: 1.1rem;

    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-item:hover {
    color: #fff;
    background-color: #152951;
} */

/**************************************
/* COLUMNS
**************************************/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

.col-1 {
    flex: 8.33%;
    max-width: 8.33%;
    padding: 0 0.5%;
}

.col-2 {
    flex: 16.66%;
    max-width: 16.66%;
    padding: 0 0.5%;
}

.col-3 {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5%;
}

.col-4 {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 0.5%;
}

.col-5 {
    flex: 41.66%;
    max-width: 41.66%;
    padding: 0 0.5%;
}

.col-6 {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.5%;
}

.col-7 {
    flex: 58.33%;
    max-width: 58.33%;
    padding: 0 0.5%;
}

.col-8 {
    flex: 66.66%;
    max-width: 66.66%;
    padding: 0 0.5%;
}

.col-9 {
    flex: 75%;
    max-width: 75%;
    padding: 0 0.5%;
}

.col-10 {
    flex: 83.33%;
    max-width: 83.33%;
    padding: 0 0.5%;
}

.col-11 {
    flex: 91.66%;
    max-width: 91.66%;
    padding: 0 0.5%;
}
.col-12 {
    flex: 100%;
    max-width: 100%;
    padding: 0 0.5%;
}

/**************************************
/* OFFSETS
**************************************/
.offset-1 {
    margin-left: 8.33%;
}

.offset-2 {
    margin-left: 16.66%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.33%;
}

.offset-5 {
    margin-left: 41.66%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.33%;
}

.offset-8 {
    margin-left: 66.66%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.33%;
}

.offset-11 {
    margin-left: 91.66%;
}

.offset-12 {
    margin-left: 100%;
}

/**************************************
/* MEIDA QUERIES
**************************************/
@media (max-width: 900px) {
    .resize .col-4 {
        flex: 100%;
        max-width: 100%;
        /* padding: 0 0.5%; */
        margin: 0;
    }
}

@media (max-width: 750px) {

}

@media (max-width: 600px) {

}